Package: me.devbug.sbcenterblurrr
Name: SBCenterBlurrr
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: ControlCenter, NotificationCenter's blur radius
Maintainer: deVbug
Author: deVbug
Section: Tweaks
